<div class="wrapper">
  <div class="container flex-box">
    <div class="box-100">
      <h2>ようこそSelfManagementAppへ！</h2>
        <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn gray-color", method: :post %>
    </div>


    </div>
  </div>
</div>