/* 全体的に適用 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-position: inside;
}

/* 共通レイアウト */

body {
  font-size: 16px;
  color: #333333;
  font-family: "Hiragino Kaku Gothic ProN";
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

/* メインビジュアル */

.mv-image {
  background-image: image-url("mv.jpg");
  background-position: center;
  background-size: cover;
  height: 600px;
}

.mv-image-transparent {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
}

/* ヘッダー */

.header-wrapper {
  background-color: #000000;
}

.header-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.header-flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-left {
  padding: 0 0 0 0;
  color: #FFFFFF;
}

.header-right {
  padding: 0 0 0 0;
  color: #FFFFFF;
}

.header-logo {
  display: inline-block;
  line-height: 60px;
  list-style-type: none;
  padding: 0 10px;
}

.header-logo > a {
  color: inherit;
}

.nav-list {

}

.nav-list-item {
  display: inline-block;
  line-height: 60px;
  list-style-type: none;
  padding: 0 10px;
}

.nav-list-item:hover{
  transition: 0.3s;
  background-color: #f5f5f5;
  color: #000000;
}

.nav-list-item > a {
  color: inherit;
}


/* フッター */
.footer-wrapper {
  background-color: #000000;
}

.footer-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.footer-text {
  text-align: center;
  color: #FFFFFF;
  font-size: 0.8em;
  padding: 20px 0;
}

/* コンテンツ */

.wrapper {
  background-color: #f5f5f5;
}

.container {
  background-color: #ffffff;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.box-100 {
  width: 100%;
  padding: 10px;
}

.box-50 {
  width: 50%;
  padding: 10px;
}

.box-25 {
  width: 25%;
  padding: 10px;
}

/* カラムレイアウト */

.announcement_header {
  border-radius: 6px 6px 0 0;
  padding: 10px;
  background-color: #d3d7dc;
  text-align: center;
}

.announcement_body {
  border-radius: 0 0 6px 6px;
  padding: 10px;
  background-color: #f3f3f3;
  text-align: center;
}

/* お知らせレイアウト */

.notice-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}


.notice-text {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  padding: 20px 0;
}

/* エラーレイアウト */

.errors-text {
  color: #ff0000;
  font-weight: bold;
}


/* フォームレイアウト */

.form-container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

.form-field {
  margin: 0 0 10px 0;
}

.form-action {
  margin: 0 0 10px 0;
}

.form-textbox {
  display: block;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 10px;
  border: solid 1px #000000;
  border-radius: 6px;
  color: #a0a0a0;
  outline: none;
}

/* プロフィール画像レイアウト */

.profile-image {
  max-width: 300px;
  width: 100%;
  border: solid 1px #eeeeee;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

/* ボタンレイアウト */

.btn {
  padding: 10px 20px;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  opacity: 0.8;
  border: solid 0px #000000;
  border-radius: 6px;
}

.btn:hover {
  opacity: 1.0;
}

.btn-100 {
  width: 100%;
}

/* アイコンレイアウト */

.fa {
  margin: 0 10px 0 0;
}

/* テーブルレイアウト */
.table-container {
  overflow: scroll;
  height: 300px;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.table > thead > tr > th, .table > tbody > tr > td {
  padding: 10px 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table > thead > tr > th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #000000;
}

.table > tbody > tr > td:first-child {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
}

.table > thead > tr:first-child, .table > thead > tr > th:first-child{
  z-index: 1;
}

.table > thead {
  background-color: #000000;
  color: #FFFFFF;
}

.table > tbody {
  background-color: #f5f5f5;
}

.table > thead > tr > th, .table > tbody > tr > td {
  border: solid 1px #eeeeee;
  cursor: pointer;
  width: 200px;
}

/* ガントチャートレイアウト */

.gantt-chart-container {
  overflow: scroll;
  height: 500px;
}

.gantt-chart {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.gantt-chart > thead > tr > th, .gantt-chart > tbody > tr > td {
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gantt-chart > tbody > tr > td:nth-child(n+3) {
  text-align: center;
}


.gantt-chart > thead > tr > th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #000000;
}

.gantt-chart > thead > tr > th:nth-child(1) {
  position: sticky;
  left: 0;
  background-color: #000000;
}

.gantt-chart > thead > tr > th:nth-child(2) {
  position: sticky;
  left: 60px;
  background-color: #000000;
}

.gantt-chart > tbody > tr > td:nth-child(1) {
  position: sticky;
  left: 0;
  background-color: #f5f5f5;
}

.gantt-chart > tbody > tr > td:nth-child(2) {
  position: sticky;
  left: 60px;
  background-color: #f5f5f5;
}

.gantt-chart > thead > tr > th:nth-child(-n+2) {
  z-index: 2;
}

.gantt-chart > tbody > tr > td:nth-child(-n+2) {
  z-index: 1;
}

.gantt-chart > thead {
  background-color: #000000;
  color: #FFFFFF;
}

.gantt-chart > tbody {
  background-color: #f5f5f5;
}

.gantt-chart > thead > tr > th, .gantt-chart > tbody > tr > td {
  border: solid 1px #eeeeee;
  cursor: pointer;
}

.gantt-chart > thead > tr > th:nth-child(1) {
  width: 60px;
}

.gantt-chart > thead > tr > th:nth-child(2) {
  width: 200px;
}

.gantt-chart > thead > tr > th:nth-child(n+3):nth-child(-n+6) {
  width: 100px;
}

.gantt-chart > thead > tr > th:nth-child(7) {
  width: 200px;
}

.gantt-chart > thead > tr > th:nth-child(n+8) {
  width: 60px;
}


/* 共通カラー */

.green-color {
  background-color: #008000;
}

.blue-color {
  background-color: #0000ff;
}

.red-color {
  background-color: #ff0000;
}

.gray-color {
  background-color: #808080;
}

.milestone-color {
  background-color: #ffffe0;
}

.parent-task-color {
  background-color: #add8e6;
}

.child-task-color {
  background-color: #90ee90;
}

/* バリデーションレイアウトキャンセル */
.field_with_errors {
  display: contents;
}

/* タブレット */

@media all and (max-width: 768px) {

  .header-left {
    width: 100%;
    text-align: center;
  }

  .header-right {
    width: 100%;
    text-align: center;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-list-item {
    width: 100%;
  }

  h1 {
    font-size: 1.9em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.3em;
  }

  .box-50 {
    width: 100%;
  }

  .box-25 {
    width: 50%;
  }

}

/* スマートフォン */

@media all and (max-width: 576px) {

  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
  }

}

