<div class="wrapper">
  <div class="container flex-box">
    <div class="box-100">
      <h2><%= @user.display_name %>さんのマイページ</h2>
    </div>

    <div class="box-100">
      
<%= @user.display_name %>
<%= @user.user_name %>
<%= @user.email %>

    </div>
  </div>
</div>