<% if flash[:notice] %>
  <div class="wrapper green-color">
    <div class="notice-container notice-text">
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="wrapper red-color">
    <div class="notice-container notice-text">
      <%= flash[:alert] %>
    </div>
  </div>
<% end %>
